*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
    /*background-color:#5499F8;*/
}

.seccion-imagenes-con-texto{
    display: flex;
}

.elastico{
    width: 100%;
}

.fijo{
    width: 1080px;
    margin: auto;
}

.edificios{
    display: flex;
}

.spidermansPortada{
    display: flex;
}

.spidermansRecuadros{
    display: flex;
    justify-content: space-evenly; /*Modificar*/
}

.spidermansRecuadrosTexto{
    display: flex;
    justify-content: space-evenly;
    
}

.vengadores{
    display: flex;
}

.spidermansRecuadrosTexto div p{
    width: 333px;
height: 218px;
flex-shrink: 0;
color: #000;

font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.telarañas{
    display: flex;

}

.rectanguloVioleta{
    position: relative;
}

.recVioletaContenido{
    display: flex;
    position: absolute;
    top: 3500px;
    left: 450px;
}

.duendeCalabaza{
    position: absolute;
    top: -300px; /*PREGUNTAR SI ESTA BIEN POSICIONAR EN NEGATIVO*/
    left: 630px; 
}

/*ACA JUNTAMOS TITULO, PARRAFO E IMAGEN EDIFICIO*/
.imgEdificioYTexto{
    display: flex;
    flex-direction: column;
}

.imgEdificioYTexto p{
    width: 586px;
    height: 154px;
    flex-shrink: 0;
    color: #FFF;

font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.contenedorParrafoYBoton{
    background-color: black;
    
}

.contenedorParrafoYBoton p{
    color: #FFF;
font-family: Lato;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 8.1%;
padding-right: 28.1%;
}

.contenedorParrafoYBoton button{
    border-radius: 111px;
border: 8px solid var(--2982-ff, #2982FF);
background: #FFE901;
width: 292px;
height: 50px;

/* Drop Shadow */
box-shadow: 0.31% 0.39% 0% 0% #02187E;

/* Tipografia*/
color: #02187E;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 900;
line-height: 94.5%; /* 18.9px */
letter-spacing: 2.2px;
margin-left: 110px;
margin-bottom: 50px;
}

.contenedorSpidermans{
    position: relative;
}

.los3Spidermans {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding-left: 190px;
    align-items: center;
}


.lineaSuperiorFooter{
    height: 80px;
    background-color: #242424;
}

.lineaSuperiorFooter div{
    padding-left: 7.8%;
    padding-right: 7.8%;
}

.footerFondoGris{
    height: 598px;
    background-color: #5E5E5D;
}

.textoFooter{
    width: 64%;
    height: 361px;
    padding-left: 7.8%;
    padding-top: 2.9%;
    padding-right: 28.1%;
    padding-bottom: 15.5%;
}

.textoFooter .p1{
    color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 94.5%; /* 18.9px */
letter-spacing: 2.2px;
}

.textoFooter .p2{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    letter-spacing: 2.2px;
    text-decoration-line: underline;
}

.textoFooter div{
    padding-top: 2.9%;
   
}